@main("Names match service") {
    <h1>Names match service</h1>
	<p class="lead">
	The Names match service attempts to derive a match score for a given set of individuals, which can then be used for disambiguation purposes. 
	</p>
	<p>
    <a href="more-info" class="btn btn-primary btn-large">
      Learn more...
    </a>
    </p>
    
}
