@main("Match People") {
    <h1>Names match service</h1>
	<p>
	You can only submit meta data for matching in the following formats:
		<ul>
		</ul>
	</p>
	<p>
    <a href="more-info" class="btn btn-primary btn-large">
      Learn more...
    </a>
    </p>
    
}
