@main("Names match service") {
    <h1>Names match service</h1>
    <h2>Overview</h2>
    <p>
    	The names match search accepts a POST request containing a Json encoded list of individual and the meta data pertaining to them. It then attempts to disambiguate these individuals against each other and derive a match score using the same algorithms that are used to disambiguate data for <a href="http://names.mimas.ac.uk">Names</a> records.
    </p>
    <h2>Using the API</h2>
    <p>
    	The match service API is stateless; no data or derived match scores are stored between calls to the API. It is therefore assumed that the client will manage the dervied scores in whatever workflow they intend to use them.
    </p>
    <p>
    	A match request must be sent to http://names.mimas.ac.uk/match-service using the HTTP Post method. Currently only POST requests containing a Json encoded body will be serviced.
    </p>
    <p>
    	The Json encoded request list must contain a root "match_request" array, containing an "individuals" array which itself contains at least one individual. Each individual MUST contain a submission identifier.
	</p>
	<pre><code>
			{"match_request": [{"weightings":[]},
				{"individuals":[
					{"submission_id":"#001",
					 "names": ["J Smith"],
					 "fields_of_activity": ["Physics"],
					 "affiliations": ["University of Manchester"],
					 "result_publications": [
					 {"title":"Nuclear Physics and thermo reactors."}
					 ],
					 "identifiers": [
					 	{
					 		"basis_for" : "manchester.ac.uk",
					 		"identifier" : "#001"
					 	}
					 ]
					 },
					 {"submission_id":"#002",
					 "names": ["Doe, M."],
					 "fields_of_activity": ["Physics"],
					 "affiliations": ["Open University"],
					 "result_publications": [
					 {"title":"Thermo reactors and physics, with some atoms included."}
					 ],
					 "identifiers": [
					 	{
					 		"basis_for" : "ou.ac.uk",
					 		"identifier" : "#002"
					 	}
					 ]
					 } 
				]}
			]
			}
	</code></pre>


	</p>
	<h2>Response</h2>
	<p>
		All being well you should receive a response containing a list detailing each submitted invdividual's submission identifier alongside the derived match score from the matching against the other individuals in the submitted list.
	</p>
	<pre>
		<code>
			{
			"#001":{"#002":8.0},
			"#002":{"#001":8.0}
		    }
		</code>
	</pre>

    
}
